@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@500&display=swap');

.overlay {
    display: grid;
    background-color: rgba(0,0,0,0.9);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    position: fixed;
    place-content: center;
    
}

.overlay::after {
    content: 'X';
    color: #fff;
    background-color: #000;
    font-family: sans-serif;
    text-align: center;
    line-height: 2rem;
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    border: 2px solid #fff;
    border-radius: 50%;
}

.overlay > figure {
    margin: 0;
    padding: 1rem;
    border: 2px solid #fff;
}

.overlay > figure > img {
    max-width: 100%;
    height: auto;
}

img {
    cursor: pointer;
}

/* decoration de pages */

body {
    background-color: #f0f0f0;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 3rem;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    text-align: center;
}

.miniatures {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav > ul {
    display: flex;
    gap: 1rem;

}

nav > ul > li {
    list-style: none;
}

nav > ul > li > a {
    text-decoration: none;
    padding: 0.5rem;
    color: #000;
    font-family: 'Roboto Slab', serif;
    background-color: #ffd803;
    border-radius: 0.2rem;
}

p {
    font-family: 'Roboto Slab', serif;
    padding: 2rem;
}